.header-container {
    width: 100%;
	padding: 20px;
	margin: 0 auto;

    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

    border-bottom: 2px solid black;

    nav {
        width: 50%;
    }
}

.logo-container {
    width: 20%;

    img {
        max-width: 100%;
        height: auto;
    }
}


.nav-links-list {
    display: flex;
    justify-content: end;
    align-items: center;
    
    margin: 1em 0 .5em;
	text-align: center;
    list-style-type: none;

    .nav-link {
        margin: 0 1rem;
        
    }
}